@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    /* ホバーしたときにどのくらいの時間で透過させるか */
    transition: 0.3s;
}

a:hover {
    /* マウスをホバーしたときに透過させる */
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    /* 画像は本来読み込んだままで取り込まれるから調整する */
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */
body {
    background-color: #e8d9bf;
}

.spimg {
    display: none;
}

.header_wrap {
    /* 自分の好きなところに配置する */
    position: absolute;
    /* ★ここ2行よくわかりません。何が0なのか？ どこが0なのか。*/
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* 136px÷1920px=7% デザイン元データの横幅の何％かという意味 */
    padding: 10px 7% 0 2.8%;
    /* はみ出さないようにpaddingを内側に */
    box-sizing: border-box;
}

.header_wrap h1 {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

/* スマホ版メニューを消す */
.sp_nav,
.sp_btn {
    display: none;
}

/* 幅1100以下でPC版メニューを消す */
@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    /* ハンバーガー */
    .sp_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
        height: 23px;
        cursor: pointer;
        z-index: 2;
        /* 重なり順を指定するプロパティ */
    }
    .sp_btn span {
        display: block;
        position: relative;
        top: 10px;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    /* 疑似要素 */
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        position: absolute;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガーメニュー閉じる 線3本のうち2本を活用する*/
    .sp_btn.open span {
        background: transparent;
        /* 透明にして消す */
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
        /* 45度回転させる */
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }
    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}

/* メイン */
/* リード文 */
.lead {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.lead p:nth-child(1) {
    font-size: 30px;
    margin: 100px auto 40px;
}

.lead p:nth-child(2) {
    font-size: 82px;
    letter-spacing: 0.1em;
    line-height: 1.17;
    margin-bottom: 20px;
}

.lead p:nth-child(3) {
    font-size: 23px;
    letter-spacing: 0.1em;
    line-height: 1.65;
    margin-bottom: 93px;
}

/* アバウト */
/* ここが一番よくわからなかったです */
.about {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
}

.about div > img {
    border-radius: 0 0 80px 0;
}

.about_text {
    margin-left: 79px;
}

.about_text h2 {
    width: 272px;
    margin: 56px auto 48px 0;
}

.about_text h3 {
    font-size: 44px;
    font-weight: normal;
    margin: 0 auto 23px 0;
    line-height: 1.38;
}

.about_text p {
    width: 410px;
    font-size: 16px;
    line-height: 1.625;
}

/* メニュー */
.menu {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu h2 {
    width: 151px;
    margin: 78px auto 39px;
}

.menu_block {
    display: flex;
    justify-content: space-between;
}

.menu_item {
    width: 30%;
}

.menu_item img {
    border-radius: 0 40px 0 0;
}

.menu_item h3 {
    color: #d30202;
    text-align: left;
    font-size: 38pt;
    font-weight: normal;
    padding: 0;
    margin: -13px 12px 9px;
}

.menu_item p {
    font-size: 17px;
    line-height: 1.47;
}

/* ギャラリー */
.gallery h2 {
    margin: 50px auto 16px;
    width: 245px;
}

.gallery ul {
    display: flex;
}

/* イベント */
.event {
    max-width: 1000px;
    margin: 0 auto;
}

.event h2 {
    margin: 60px auto 29px;
    width: 173px;
}

.event_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 40px;
    border: 3px solid #4f260b;
    background-color: #fff;
}

.event ul li {
    font-size: 23px;
    /* padding: 11px 0; */
}
.event ul li + li {
    padding-top: 22px;
}

.event ul li time {
    margin-right: 46px;
}

.event ul li a {
    display: inline-block;
    /* ★これよくわからない */
    text-decoration: underline;
    overflow: hidden;
    /* paddingより外のコンテンツは切り取られる */
    white-space: nowrap;
    /* ★ホワイトスペースとは？nowrapは折り返しをしなくなるプロパティー値？ */
    text-overflow: ellipsis;
    /* 表示領域からはみ出した末尾を三点リーダーにする。white-space: nowrap;とセット */
}

/* アクセス */
.access h2 {
    margin: 69px auto 36px;
    width: 213px;
}

.access iframe {
    width: 100%;
    height: 471px;
    display: block;
}

/* フッター */
/* ここも難しかったです */
footer {
    background-color: #fff;
    /* height: 392px; */
}
.footer {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.footer h2 {
    padding-top: 74px;
    width: 226px;
}

.footer ul {
    margin: 76px;
}

.footer ul li {
    color: #000000;
    font-size: 20px;
    line-height: 1.95;
}

/* ★インライン要素だからブロック要素に戻して、text-align: centerでなぜ中央にくるのか */
/* ブロック要素にtext-align: centerを使えばその中のテキストが左右中央にくる */
small {
    color: #000000;
    display: block;
    font-size: 16px;
    padding-bottom: 72px;
    text-align: center;
}

/* ページトップボタン */
.pagetop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
    /* 適当な位置… */
}

/* スマホ版 */
@media screen and (max-width: 1100px) {
    .lead p:nth-child(1) {
        font-size: 24px;
    }
    .lead p:nth-child(2) {
        font-size: 65px;
    }
    .lead p:nth-child(3) {
        font-size: 18px;
    }

    .about_text {
        margin-left: 30px;
    }
    .about_text h2 {
        margin: 15px auto 15px 0;
    }
    .about_text h3 {
        font-size: 35px;
        margin: 0 auto 12px 0;
    }

    /* .about_text p {
        font-size: 13px;
    } */
}

@media screen and (max-width: 767px) {
    .pcimg {
        display: none;
    }
    .spimg {
        display: block;
    }

    .header_wrap h1 {
        width: 187px;
    }

    .lead p:nth-child(1) {
        font-size: 17px;
        width: 100%;
        margin: 41px auto 22px;
    }
    .lead p:nth-child(2) {
        font-size: 38px;
        /* letter-spacing: 0.02em; */
        /* フォントの関係で3行になってしまうから間隔消す */
        line-height: 1.15;
        margin-bottom: 12px;
    }
    .lead p:nth-child(3) {
        font-size: 16px;
        line-height: 1.85;
        margin-bottom: 0;
        text-align: center;
    }

    .about {
        display: block;
        padding: 0;
    }
    .about div > img {
        border-radius: 0;
    }

    /* .about div img,
    .about_text h2 {
        flex-direction: column-reverse;
    } */
    /* これが間違っている */

    .about_text {
        margin-left: initial;
    }
    .about_text h2 {
        width: 160px;
        margin: 53px auto 12px;
    }
    .about_text h3 {
        font-size: 36px;
        margin: 35px auto 19px 21px;
        line-height: 1.25;
    }
    .about_text p {
        width: 89%;
        font-size: 16px;
        line-height: 1.75;
        margin: 0 auto;
    }

    .menu {
        /* max-width: 375px; */
        padding: 0 37px;
    }
    .menu h2 {
        width: 87px;
        margin: 39px auto 17px;
    }
    .menu_block {
        display: block;
    }
    .menu_item {
        width: 100%;
    }
    .menu_item img {
        width: 100%;
    }
    .menu_item h3 {
        font-size: 40px;
        margin: -13px 9px 17px;
    }
    .menu_item p {
        margin-bottom: 58px;
        line-height: 1.58;
    }

    .gallery h2 {
        width: 142px;
        margin: 84px auto 15px;
    }

    .gallery ul {
        display: block;
    }

    .gallery ul li img {
        width: 100%;
    }

    .event h2 {
        width: 100px;
        margin: 26px auto 15px;
    }
    .event_block {
        display: block;
        /* ★なぜdisplay: block;ここにも必要なのか… */
        margin: 0 20px;
        padding: 20px 10px 13px 27px;
    }
    .event ul li {
        font-size: 16px;
        line-height: 1.25;
        /* padding: 11px 0; */
    }

    .event_block ul li a {
        display: block;
    }

    .access h2 {
        width: 124px;
        margin: 26px auto 5px;
    }
    .access iframe {
        height: 191px;
    }

    footer {
        height: 323px;
    }
    .footer {
        display: block;
    }
    .footer h2 {
        padding-top: 40px;
        padding-left: 20px;
    }
    .footer ul {
        margin: 27px auto 40px 20px;
    }
    .footer ul li {
        font-size: 18px;
        line-height: 1.72;
    }
    small {
        padding-bottom: 26px;
    }
    .pagetop {
        right: 15px;
        bottom: 15px;
        width: 100px;
    }

    .slick-next {
        right: 20px;
        width: 15px;
        height: 15px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
    }
    .slick-prev {
        left: 20px;
        width: 15px;
        height: 15px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 767px) {
    .sp {
        display: none;
    }
}

/* スライダー調整 */
.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #fff;
}
.slick-arrow {
    z-index: 1000;
}
.slick-next {
    right: 35%;
    width: 38px;
    height: 38px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: translate(50%, -50%) rotate(45deg);
}
.slick-prev {
    left: 35%;
    width: 38px;
    height: 38px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.slick-prev:before,
.slick-next:before {
    display: none;
}

@media screen and (max-width: 767px) {
    .slick-prev {
        left: 15%;
    }
    .slick-next {
        right: 15%;
    }
}
